body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #1d566e, rgb(5, 46, 65));
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 250%;
    display: flex;
    justify-content: center;
}

section {
    margin: 30px 0;
    width: 90%;
    max-width: 800px;
    justify-content: center;
    padding: 20px;
}

.titulo {
    font-size: x-large ;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

.principal {
    font-size: 150%;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.contenido {
    font-size: 120%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

#imagen img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#imagen img:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

#contact-form {
    display: flex;
    padding: 5%;
    justify-content: center;
    margin: 0 20px 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 90%;
    }

#contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

#contact-form button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #000000;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    justify-content: center;
}